body {
    display: flex;
    justify-content: center;
    position: relative;


    /* Light blue/light-blue-100 */
    background: #F3F5FC;

  }

  .content {
    display: flex;
    justify-content: center;
    position: relative;
    width: 1440px;
    height: 1024px;

    /* Light blue/light-blue-100 */
    background: #F3F5FC;
  }

  #msg {
    mix-blend-mode: darken;
    position: absolute;
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;
    border: none;
    resize: none;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 150%;
    /* or 48px */

    color: #0a3871;
  }

  #result {
    position: absolute;
    width: 336px;
    height: 781px;
    left: 1032px;
    top: 72px;
    border: none;
    resize: none;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;

    /* or 36px */

    /* Gray/gray-400 */
    color: #495057;


  }

  .botones {
    /* Frame 3 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 212px;
    top: 885px;
  }

  #cryp {
    /* Button */

    /* Auto layout */

    padding: 24px;

    position: static;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;
    cursor: pointer;


    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */
    color: #FFFFFF;
  }

  #decryp {
    /* Button */

    /* Auto layout */

    padding: 24px;

    position: static;
    width: 328px;
    height: 67px;
    left: 352px;
    top: 0px;
    cursor: pointer;


    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */
    color: #0A3871;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

  }

  textarea:focus {
    outline: none;
  }

  #rectangulo {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    align-items: left;
    vertical-align: top;

    /* White */
    background: #ffffff;

    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
  }

  #copy {


    padding: 24px;
    background: white;
    cursor: pointer;


    position: absolute;
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 885px;

    /* Dark blue/dark-blue-300 */
    border: 1px solid #0a3871;
    box-sizing: border-box;
    border-radius: 24px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  #advertencia {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 252px;
    height: 18px;
    left: 240px;
    top: 851px;
  }

  #txtadvertencia {
    position: static;
    width: 228px;
    height: 18px;
    left: 24px;
    top: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;

    /* identical to box height, or 18px */

    /* Gray/gray-400 */
    color: #495057;

    opacity: 0.8;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
  }

  #logoalura {
    /* Frame 6 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
  }

  #logoalura img {
    position: absolute;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;

    /* Dark blue/dark-blue-300 */

  }


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }



